<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/static/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/editormd/css/editormd.css" />
</head>

<body>
<!--*******************
    Preloader start
********************-->
<div th:replace="model/head::preloader"></div>
<!--*******************
    Preloader end
********************-->
<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">
    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="header" th:replace="model/head::nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="model/head::body-header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="model/sidebar::side"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div id="test-editor">
                     <textarea id="intl" style="display:none;"></textarea>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form id="articleForm" method="post" action="/md/articles/add">
                                    <div class="form-group">
                                        <input type="text" name="title" class="form-control input-default" placeholder="文章标题">
                                    </div>
                                    <textarea id="context" name="context" hidden="hidden"></textarea>
                                    <div class="form-group">
                                        <button type="button" onclick="subForm()" class="btn btn-dark mb-2">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="model/footer::foot"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>


<!--**********************************
    Scripts
***********************************-->
<div th:replace="model/footer::commonJs0"></div>

<script src="/static/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/static/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/editormd/editormd.js"></script>
<script type="text/javascript">
    $(function() {
        $("#intl").html("### 1、安装webpack\n```\nnpm i webpack webpack-cli -D  -g     #D开发环境  g全局\n```\n### 2、打包\n```\nwebpack --mode development   #开发环境\nwebpack --mode production    #生产环境\n```")
        var editor = editormd("test-editor", {
            width  : "98%",
            height : "560px",
            path   : "/static/editormd/lib/"
        });
    });

    function subForm() {
        $("#context").val($("#intl").val());
        $("#articleForm").submit();
    }
</script>
</body>

</html>