<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="foot" class="footer">
    <div  class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="http://www.niyihua.top">niyihua</a> 2021</p>
    </div>
</div>
<div th:fragment="commonJs0">
    <script src="/static/plugins/common/common.min.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/gleek.js"></script>
    <script src="/static/js/styleSwitcher.js"></script>
</div>
</body>
</html>