<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--*******************
    Preloader start
********************-->
<div th:fragment="preloader" id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>

<div class="nav-header" th:fragment="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr"><img src="/static/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="/static/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                        <img src="/static/images/logo-text.png" alt="">
                    </span>
        </a>
    </div>
</div>
</body>
</html>